<div class="container">
  <div class="row">
    <div class="col" [style.display]="showcarList ? 'none' : 'block'">
      <div class="d-flex align-items-center justify-content-center min-vh-100">
        <mat-spinner color="warn"></mat-spinner>
      </div>
    </div>
  </div>
</div>

<div class="container" id="cars-list">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-7 carsPage">
      <!-- Car brands Name -->
      <h1>{{ brandsName }} Car Models</h1>

      <!-- Car models -->
      <app-carsdata-card
        *ngFor="let car of cars"
        [carCompanyName]="car.brand_name"
        [carModel]="car.model"
        [carPrice]="car.price"
        [carMileage]="car.mileage"
        [manufacturingYear]="car.year"
        [carLocation]="car.location"
        [carColor]="car.color"
      ></app-carsdata-card>

      <div class="text-center my-5">
        <app-pagination *ngIf="showcarList"></app-pagination>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
